@page "/paypal"
@attribute [StreamRendering]
@rendermode InteractiveServer

@using ModelLibrary;

<PageTitle>Buy with Paypal</PageTitle>

@foreach (Product product in catelog)
{
    <ul>
        <li>
            @product.Name - @product.Price
            <button @onclick="() => AddToBasket(product.Id)">Add to basket</button>
        </li>
    </ul>
}

<br />

@if (basket.Count > 0)
{
    <h2>Basket</h2>
    <ul>
        @foreach (Product product in basket)
        {
            <li>@product.Name - @product.Price</li>
        }
    </ul>

    <br />
    <button @onclick="Buy">Buy</button>
}